<div class="card-div">
  <svg viewBox="0 0 264 109" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M7.5 5.5C7.5 5.83333 7.5 6.16667 7.5 6.5C11.6583 6.61752 15.8167 6.73553 19.975 6.85389C57.0977 7.91047 94.2205 8.99435 131.343 10C157.559 10.7102 183.776 12 209.992 12C221.503 12 233.014 11.0106 244.525 9.03182C248.683 8.317 252.842 7.47306 257 6.5C257 6.16667 257 5.83333 257 5.5C252.842 4.52694 248.683 3.683 244.525 2.96818C233.014 0.989392 221.503 0 209.992 0C183.776 0 157.559 1.28981 131.343 2C94.2205 3.00565 57.0977 4.08953 19.975 5.14611C15.8167 5.26447 11.6583 5.38248 7.5 5.5Z" fill="black" />
    <path d="M10 103.5C10 103.833 10 104.167 10 104.5C14.2371 105.692 18.2735 106.647 22.5022 107.366C28.7737 108.455 35.0731 109 41.4156 109C72.2273 109 103.034 107.504 133.844 107C160.042 106.571 186.297 106.43 212.471 106C223.979 105.811 235.49 105.36 246.998 104.936C251.227 104.782 255.263 104.633 259.5 104.5C259.5 104.167 259.5 103.833 259.5 103.5C255.263 103.367 251.227 103.218 246.998 103.064C235.49 102.64 223.979 102.189 212.471 102C186.297 101.57 160.042 101.429 133.844 101C103.034 100.496 72.2273 99 41.4156 99C35.0731 99 28.7737 99.5447 22.5022 100.634C18.2735 101.353 14.2371 102.308 10 103.5Z" fill="black" />
    <ellipse cx="7" cy="6" rx="7" ry="3" fill="black" />
    <ellipse cx="7" cy="104" rx="7" ry="3" fill="black" />
    <path d="M1 104V6" stroke="black" />
    <path d="M7 101V9" stroke="black" />
    <path d="M4 102V8" stroke="black" />
    <path d="M10 102V8" stroke="black" />
    <path d="M13 104V6" stroke="black" />
    <ellipse cx="257" cy="6" rx="7" ry="3" fill="black" />
    <ellipse cx="257" cy="104" rx="7" ry="3" fill="black" />
    <path d="M251 104V6" stroke="black" />
    <path d="M257 101V9" stroke="black" />
    <path d="M254 102V8" stroke="black" />
    <path d="M260 102V8" stroke="black" />
    <path d="M263 104V6" stroke="black" />
  </svg>

  <div class="svg-frame-content">
    <p>@Quote</p>
    <p>- @Author</p>
  </div>
</div>

@code {
  [Parameter]
  public string Quote { get; set; } = "Placeholder";
  [Parameter]
  public string Author { get; set; } = "Placeholder";
}
