@font-face {
  font-family: "Merienda";
  src: url('/fonts/Merienda-VariableFont_wght.ttf') format('truetype');
}

.card-div {
  aspect-ratio: 273 / 125;
}

  .card-div svg {
    position: absolute;
    width: 500px;
    height: auto;
    z-index: -1;
  }

.svg-frame-content {
  padding: 2rem 2rem 0 3rem;
  font-weight: 700;
  font-family: "Merienda", 'Times New Roman';
  font-size: 1rem;
}
