@font-face {
  font-family: "Merienda";
  src: url('/fonts/Merienda-VariableFont_wght.ttf') format('truetype');
}

.card-div {
  position: relative;
  max-width: 500px;
  aspect-ratio: 264 / 109;
  margin: auto;
}

  .card-div svg {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
  }

.svg-frame-content {
  padding: 2rem 2rem 0 2rem;
  font-weight: 700;
  font-family: "Merienda", 'Times New Roman';
  font-size: 1rem;
}
