<div class="card-div">
  <svg width="273" height="125" viewBox="0 0 273 125" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 110C8 109.602 8 46.5009 8 15" stroke="black" />
    <path d="M10 15L10.5 110.5" stroke="black" />
    <path d="M12 15L12.5 110.5" stroke="black" />
    <path d="M14 15L14.5 110.5" stroke="black" />
    <path d="M16 15L16.5 110.5" stroke="black" />
    <rect x="6" y="13" width="12" height="2" fill="black" />
    <rect x="18" y="112" width="12" height="2" transform="rotate(180 18 112)" fill="black" />
    <rect x="3" y="8" width="18" height="1.8" fill="black" />
    <rect x="21" y="117" width="18" height="1.8" transform="rotate(180 21 117)" fill="black" />
    <path d="M2 7H22L21 7.8H3L2 7Z" fill="black" />
    <path d="M22 118L2 118L3 117.2L21 117.2L22 118Z" fill="black" />
    <path d="M6 11.5H18L19 12.5H5L6 11.5Z" fill="black" />
    <path d="M4 10H20L19 11H5L4 10Z" fill="black" />
    <path d="M18 113.5L6 113.5L5 112.5L19 112.5L18 113.5Z" fill="black" />
    <path d="M20 115L4 115L5 114L19 114L20 115Z" fill="black" />
    <path d="M257 110C257 109.602 257 46.5009 257 15" stroke="black" />
    <path d="M259 15L259.5 110.5" stroke="black" />
    <path d="M261 15L261.5 110.5" stroke="black" />
    <path d="M263 15L263.5 110.5" stroke="black" />
    <path d="M265 15L265.5 110.5" stroke="black" />
    <rect x="255" y="13" width="12" height="2" fill="black" />
    <rect x="267" y="112" width="12" height="2" transform="rotate(180 267 112)" fill="black" />
    <rect x="252" y="8" width="18" height="1.8" fill="black" />
    <rect x="270" y="117" width="18" height="1.8" transform="rotate(180 270 117)" fill="black" />
    <path d="M251 7H271L270 7.8H252L251 7Z" fill="black" />
    <path d="M271 118L251 118L252 117.2L270 117.2L271 118Z" fill="black" />
    <path d="M255 11.5H267L268 12.5H254L255 11.5Z" fill="black" />
    <path d="M253 10H269L268 11H254L253 10Z" fill="black" />
    <path d="M267 113.5L255 113.5L254 112.5L268 112.5L267 113.5Z" fill="black" />
    <path d="M269 115L253 115L254 114L268 114L269 115Z" fill="black" />
    <path d="M0 0H273V6C273 6.55228 272.552 7 272 7H1C0.447715 7 0 6.55228 0 6V0Z" fill="black" />
    <rect x="2" y="118" width="269" height="7" fill="black" />
    <rect x="3" y="2" width="267" height="3" rx="1" fill="#6B6B6B" />
  </svg>

  <div class="svg-frame-content">
    <p>@Quote</p>
    <p>- @Author</p>
  </div>
</div>

@code {
  [Parameter]
  public string Quote { get; set; } = "Placeholder";
  [Parameter]
  public string Author { get; set; } = "Placeholder";
}
