@using StoicCards.Models
@using System.Xml.Linq

@inject HttpClient Http

<div style="display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px)); 
  gap: 4rem;">
  @foreach (var quote in stoicQuotes)
  {
    <Card Quote="@quote.Quote" Author="@quote.Author" />
  }
</div>


@code {
  private string? XmlContent;
  private XDocument? XmlDoc;
  private List<StoicQuoteModel> stoicQuotes = new();

  protected override async Task OnInitializedAsync()
  {
    XmlContent = await Http.GetStringAsync("data/StoicQuotes.xml");

    XmlDoc = XDocument.Parse(XmlContent);
    if (XmlDoc.Root != null)
    {
      stoicQuotes = XmlDoc.Root.Elements("StoicQuote")
        .Select(q => new StoicQuoteModel
        {
          Quote = q.Element("Quote")?.Value ?? string.Empty,
          Author = q.Element("Author")?.Value ?? string.Empty
        }).ToList();
    }
  }
}

