@page "/"

<PageTitle>Quotes</PageTitle>

<div style="display: flex; flex-direction: column;">
  <div style="background-color: forestgreen; height: 70px; ">
    <div style="background-color: black; height: 15px; width: 6rem; justify-self: center;"></div>
    <div style="font-size: 3rem; font-weight: 600; justify-self: center;">Stoic</div>
  </div>
  <div style="height: 9px">
  </div>
  <div style="background-color: darkolivegreen; height: 26px; margin-top: 2px;">
    <div style="justify-self: center;">
      <div>Recall</div>
    </div>
  </div>
</div>

<StoicCards.Components.Cards.Cards />
