@page "/"

<PageTitle>Quotes</PageTitle>

<div style="display: flex; flex-direction: column;">
  <div style="background-color: black; height: 15px">
  </div>
  <div style="background-color: forestgreen; height: 55px;">
    @* <h1 style="justify-self: center;">Stoic</h1> *@
    <div>Stoic</div>
  </div>
  <div style="background-color: chocolate; height: 9px">
  </div>
  <div style="background-color: darkolivegreen; height: 26px; margin-top: 2px;">
    <div style="justify-self: center;">
      <p>Recall</p>
    </div>
  </div>
</div>

<StoicCards.Components.Cards.Cards />
