@page "/"

<PageTitle>Quotes</PageTitle>

<div style="display: flex; justify-content: center;">
  <div style="position: absolute; background-color: black; height: 8px; width: 1rem;"/>
  <h1>Stoic</h1>
</div>

<StoicCards.Components.Cards.Cards />
