@page "/"

<PageTitle>Quotes</PageTitle>

@* <div style="display: flex; flex-direction: column;">
  <div style="background-color: forestgreen; height: 70px; ">
    <div style="background-color: black; height: 15px; width: 6rem; justify-self: center;"></div>
    <div style="font-size: 3rem; font-weight: 600; justify-self: center;">Stoic</div>
  </div>
  <div style="height: 9px">
  </div>
  <div style="background-color: darkolivegreen; height: 26px; margin-top: 2px;">
    <div style="justify-self: center;">
      <div>Recall</div>
    </div>
  </div>
</div> *@
<div 
style="
width: 100%;
height: 200px;
display: grid;
grid-template-rows: 1fr 1fr 1fr;">
<div style="background-color: black;"></div>
<div style="background-color: green;"></div>
<div style="background-color: darkolivegreen"></div>
</div>

@* <StoicCards.Components.Cards.Cards /> *@
