@font-face {
  font-family: "Merienda";
  src: url('/fonts/Merienda-VariableFont_wght.ttf') format('truetype');
}

body {
  background-color: #E0C9A6;
  color: #000000;
  margin: 0 0.5vw 0 0.5vw;
}
