.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "left1 center right1"
    "left2 center right2"
    "left3 center right3"
    "left4 center right4";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto repeat(4, auto);
}

.item {
  display: flex;
}

.header {
  grid-area: header;
  background-color: black;
  height: 0.5rem;
  width: 8rem;
  place-self: center;
}

.center {
  grid-area: center;
  font-size: 4rem;
  display: flex;
  place-content: end;
  margin: 0px 10px 0px 10px;
}

.left1 {
  grid-area: left1;
  height: 52px;
  justify-content: end;
}

.left2 {
  border: 2px solid black;
  grid-area: left2;
  height: 4px;
}

.left3 {
  grid-area: left3;
  justify-content: start;
}

.right1 {
  grid-area: right1;
}

.right2 {
  grid-area: right2;
  border: 2px solid black;
  height: 4px;
}

.right3 {
  grid-area: right3;
  justify-content: end;
}

button {
  font-size: 2rem;
  border: none;
  background: none;
}

  button:hover {
    box-shadow: black 5px 5px;
    outline: 2px solid black;
  }
