.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "left1 center right1"
    "left2 center right2"
    "left3 center right3"
    "left4 center right4";
  grid-template-columns: 1fr 5rem 1fr;
  grid-template-rows: auto repeat(4, auto);
  gap: 2px;
  height: 10vh;
}

.item {
  display: flex;
  place-content: center;
}

.header { 
  grid-area: header;
  background-color: black;
  height: 0.5rem;
  width: 4rem;
  place-self: center;
}
.center { grid-area: center; }
.left1 { 
  grid-area: left1;
  height: 52px;
  justify-content: end;
}
.left2 {
  border: 2px solid black;
  grid-area: left2;
  height: 4px;
}
.left3 { 
  grid-area: left3;
  justify-content: start;
}
.right1 { 
  grid-area: right1;

}
.right2 {
  grid-area: right2;
  border: 2px solid black;
  height: 4px;
}
.right3 { grid-area: right3; }
