
<div class="grid">
  <div class="item header"></div>
  <div class="item center">
    <div style="font-size: 2rem">Stoic</div>
  </div>
  <div class="item left1">
    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M51 51.9041L50.2481 37.9943C49.0322 35.0472 47.8784 33.8125 44.985 32.3552C41.8449 31.5383 39.9317 30.9966 35.9624 29.7236" stroke="black" />
      <path d="M10.7744 44.7611C13.0716 47.5989 14.4551 49.0964 17.1654 51.528" stroke="black" />
      <path d="M12.2782 33.1069C14.9714 41.8063 17.5313 45.0818 23.1805 49.2724" stroke="black" />
      <path d="M26.564 45.889C32.1467 50.0905 35.6395 51.3791 42.7294 51.1522" stroke="black" />
      <path d="M22.8044 36.4905C29.3513 43.7413 33.6519 46.509 43.1052 47.7687" stroke="black" />
      <path d="M43.1053 43.2573V51.9039" stroke="black" />
      <path d="M1 51.9041L2.12782 37.6183C4.15185 33.9325 5.74277 32.6565 9.27068 31.6033M9.27068 31.6033C10.6676 28.5994 11.8914 27.6275 15.2857 27.8439M9.27068 31.6033C9.60781 31.908 9.9366 32.1566 10.2627 32.3552M16.7895 31.9792C13.9643 32.9767 12.1589 33.5101 10.2627 32.3552M10.2627 32.3552L10.7744 51.9041" stroke="black" />
      <path d="M16.4135 24.4603C14.8089 27.3324 15.3013 28.7604 16.7894 31.2272C17.6369 34.553 18.8723 35.4333 22.0526 35.7385C25.284 39.2652 27.0908 39.3464 30.3233 35.7385C33.1334 35.0568 33.9754 33.9208 34.4586 30.8513C36.6554 29.1175 36.9433 27.6101 35.9624 24.0844C36.8012 21.5386 36.5957 20.2922 34.8346 18.4453C34.5077 11.6608 33.2747 8.71824 26.5639 7.91895C19.7756 8.21192 17.7391 10.4595 17.1654 18.0693C15.1354 20.6645 15.2137 22.05 16.4135 24.4603Z" stroke="black" />
      <path d="M17.5414 17.6934C18.991 18.9567 19.7242 19.7025 20.9248 21.0768C24.5951 19.9975 26.6535 19.9569 30.3233 21.0768C32.0708 19.8972 33.6329 19.903 34.8346 18.4452" stroke="black" />
      <path d="M15.6617 19.5732C11.7743 17.949 10.5787 16.4561 12.6542 11.3025C12.7465 6.19635 13.935 4.64833 18.6692 4.91148C21.9663 0.416455 24.115 -0.0177648 28.4437 2.65584C32.8562 1.5252 34.5985 2.17881 35.9625 6.41524C38.2169 6.6486 39.0331 7.44192 39.3459 10.5506C41.1225 13.9092 38.9725 15.5551 36.3383 19.5731" stroke="black" />
    </svg>

  </div>
  <div class="item right1"></div>
  <div class="item left2"></div>
  <div class="item right2"></div>
  <div class="item left3">
    <button>Recall</button>
  </div>
  <div class="item right3"></div>
</div>